h1{
    color: blue;
text-align: center;
font-size: larger;
font-style: italic;
}
#header{
    color: rgb(42, 129, 61);

}
.wrapper{
    color: hotpink;
}

img{
    size: 0cap;height: 200px;
    width: 200px; ;
    border-radius: 500px;}
    
    
